[submodule "bundle/jslint.vim"]
	path = bundle/jslint.vim
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/neverland-vim-theme"]
	path = bundle/neverland-vim-theme
	url = https://github.com/trapd00r/neverland-vim-theme.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
